/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background: url('assets/bg.png') center/cover no-repeat;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav {
    background-color: #007BFF;
    padding: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

section {
    padding: 20px;
    margin: 20px 0;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card {
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    border-radius: 10px 10px 0 0;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.card-text {
    font-size: 1em;
    line-height: 1.5;
}

.api-review .card-text {
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.automation .card-text {
    background-color: #007BFF; /* Blue */
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.browser-security .card-text {
    background-color: #DC3545; /* Red */
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.btn-success {
    background-color: #4CAF50;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    font-weight: bold;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}